<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
<listeners>
	<listener class-name="test.Listeners"/>
</listeners>
<parameter name="URL" value="personalloan.com"/>
  <test thread-count="5" name="Personal Loan">
    <classes>
      <class name="test.First"/>
      <class name="test.sec"/>
    </classes>
  </test>
  
  <test name="car loan"> 
  	<classes>
  	<class name="test.third">
  	<methods>
  		<exclude name="Mobile.*"/>
  	</methods>
  	</class>
  </classes>
  </test>
</suite> 
